{{> nav}}

<main>
    <section id="banner">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
                    <img src="./images/1.png" />
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Find your dream Job</h1>
                            <p>Pick a career that doesn't need escaping from!</p>
                            <p>
                                <a class="btn btn-lg btn-primary" href="/signup">Sign up today</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
                    <img src="./images/2.png" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>
                                Some representative placeholder content for the second slide
                                of the carousel.
                            </p>
                            <p>
                                <a class="btn btn-lg btn-primary" href="#">Learn more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="job-listing">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Hundreds of Jobs from Australia</h1>
                </div>
                <div class="col-sm-12">
                    <div class="job_listing">
                        <ul>
                            {{#each jobs as |job|}}
                            <li class="single-listing">
                                <a href="/job/{{id}}">
                                    <span class="job_listing-position">
                                        <h4>{{jobDescript}}</h4>
                                        <p>{{employer.companyName}}</p>
                                    </span>
                                    <span class="job_location">{{jobLocation}}</span>
                                    <span class="job_type"><small
                                            class="button-type part-time">{{workLoad}}</small></span>
                                </a>
                            </li>
                            {{/each}}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer}}